// scss/_grid-table.scss

@use 'vars' as *;

.grid-table {
  font-size: 14px;
  font-family: $main_fonts;

    .loader_wrapper {
        text-align: center;
        color: $main_color;
        font-family: $head_fonts;
        font-size: 18px;
        .pass_table_loader {
                stroke: $main_color;
                width: 100px;
                height: 100px;
                margin: 20px auto;
            }
    }

}

.grid-table__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
  border-radius: 0; // Убрано скругление
  overflow: hidden;
  background-color: #fff;
}

.grid-table__header {
  display: contents;

  .grid-table__cell {
    padding: 1rem;
    text-align: left;
    color: $black_color;
    font-family: $head_fonts;
    font-weight: bold;
    background-color: #ffffff; // Шапка белая
    border-top: none;
    border-bottom: 1px solid $gray_bg_color;
  }
}

.grid-table__row {
  display: contents;

  &--annulled {
    background-color: $annul_pass_color;
    .grid-table__cell {
        background-color: $annul_pass_color;
    }
  }

  &--active {
    background-color: $active_pass_color;
    .grid-table__cell {
        background-color: $active_pass_color;
    }
  }
}

.grid-table__cell {
  padding: 1rem;
  border-top: 1px solid $gray_bg_color;
  border-bottom: 1px solid $gray_bg_color;
  vertical-align: middle;
  background-color: transparent;
}

@media (max-width: 768px) {
  .grid-table__container,
  .grid-table__row {
    display: block;
  }

  .grid-table__header {
    display: none;
  }

  .grid-table__row {
    border: 1px solid $gray_bg_color;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: $border_rad;

      &--annulled {
            .grid-table__cell {
                background-color: unset;
            }
        }

        &--active {
            .grid-table__cell {
                background-color: unset;
            }
        }
  }

  .grid-table__cell {
    display: block;
    padding: 0.2rem 0;
    background-color: unset;
    border-top: none;
    &:last-child {
        border-bottom: none;
    }
  }

  .grid-table__cell::before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    width: 140px; // фиксированная ширина для выравнивания
    min-width: 140px;
    margin-right: 0.5rem;
    vertical-align: top;
  }
}
